<ion-list color="dark">

    <ion-item-sliding *ngFor="let lista of todoService.listas | filtro: terminada">

        <ion-item-options side="start">
            <ion-item-option (click)="editarNombreLista(lista)" color="primary">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item detail color="dark" (click)="lisatSeleccionada(lista)">

            <ion-label>{{ lista.titulo }}</ion-label>

            <ion-note color="tertiary" slot="end">{{ lista.items.length }} items</ion-note>

        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="eliminarLista(lista)" color="danger">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>