<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <app-listas [terminada]="true"></app-listas>

</ion-content>